
Library
Logs
user.keystore
CVS
*/CVS
*/*/CVS
CVS
Packages
Vuforia
Assembly-CSharp.csproj
.vsconfig
.cvsignore
*.meta
.vs
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/VuforiaEditorScripts.csproj.AssemblyReference.cache
obj/Debug/VuforiaScripts.csproj.AssemblyReference.cache
AndroidArvosU2018_3.sln
AR-vos.apk
obj
Export
mono_crash.115869eaf6.0.json
mono_crash.115869eaf6.1.json
iOsArvosU2018_2.sln
